<div class="flex flex-col items-center gap-10">

  <h1 class="text-2xl text-center">Enter names to add to the total pool of players and hit Start Round Robin when you
    are ready to generate your bracket.
  </h1>
  <div class="flex flex-row justify-around gap-4">
    <label for="newPlayerInput">Add a Player</label>
    <input id="newPlayerInput" type="text" [(ngModel)]="newPlayerName" (keydown.enter)="addPlayer()" />
    <button type="button" (click)="addPlayer()" [disabled]="addPlayerButtonDisabled()">Add</button>
  </div>

  <div class="flex flex-row justify-between gap-12">
    <button type="button" (click)="clearPlayers()" [disabled]="isClearPlayersButtonDisabled()">Clear Players</button>
    <button type="button" (click)="startRoundRobin()" [disabled]="isStartButtonDisabled()">Start Round
      Robin</button>
    <button type="button" (click)="startTournament()" [disabled]="isStartButtonDisabled()">Start Tournament
    </button>

  </div>

  <button type="button" (click)="createTestPlayers(true)">Create odd numbered array</button>
  <button type="button" (click)="createTestPlayers(false)">Create even numbered array</button>

  @for(player of playersArray; track $index){
  <p>{{$index + 1}} - {{player}} <button id="removePlayerButton" (click)="removePlayer($index)">Remove</button></p>
  }
</div>